$def with (recordInfo,finder,lost,token=None)
<!DOCTYPE html>
<html lang="zh-CN">
<head>
	<meta charset="UTF-8">
  	<title>招领服务—详情查看</title>
  	<META NAME="ROBOTS" CONTENT="NOINDEX">
  	<meta name="viewport" content="initial-scale=1,maximum-scale=1,user-scalable=no"/>
  	<link rel="stylesheet" type="text/css" href="/static/css/card.css">
    <style type="text/css">#err{width: 100%;}</style>
</head>
<body>
$if token==None:
  <h1>招领详情[$recordInfo.id]  <small><a href="/record/"><u>返回</u></a></small></h1>
$else:
  <h1>招领详情[$recordInfo.id]</h1>

<div id="err" class="err"></div>
$if recordInfo.status==0:
  <div id="set" data-id="$recordInfo.id" data-token="$token">
  <span><button id="thank" data-id="$recordInfo.id" class="auto success">确认感谢</button></span>
  <span><button id="report" data-id="$recordInfo.id" class="auto danger">举报骚扰</button></span>
  </div>

<div class="lostinfo">
	<h3>失主信息</h3>
	<div class="list"><span class="item">姓名</span> <span class="detail">$lost.name</span></div>
	<div class="list"><span class="item">学校</span> <span class="detail">$lost.school</span></div>
	<div class="list"><span class="item">内容</span> <span class="detail">校园卡</span></div>
	<div class="list"><span class="item">学号</span> <span class="detail">$lost.number</span></div>
</div>
<div class="findinfo">
<h3>招领详情</h3>
<div class="list"><span class="item">雷锋</span><span class="detail">$finder.name</span></div>
<div class="list"><span class="item">手机</span><span class="detail"><a href="tel:$finder.phone">$finder.phone</a></span></div>
<div class="list"><span class="item">时间</span><span class="detail">$recordInfo.time.strftime('%m-%d %H:%M')</span></div>
<div class="list"><span class="item">状态</span><span class="detail">
$if recordInfo.status > 0:已经感谢
$elif recordInfo.status < 0:已经举报
$else:等待确认
</span> 
</div>
</div>
<div class="lostinfo">
<div><span class="item">通知方式</span><span class="detail">$recordInfo.ways</span></div>
</div>
<div class="tips">
	<p>如果招领信息属实，请尽快联系“雷锋同志”认领，并确认感谢(以免影响“雷锋”继续行善)</p>
<p>如果此内容为虚假的骚扰内容，您可立即用此学号登录举报，系统将会封禁“假雷锋”</p>
<P>如果您觉得此内容会骚扰到您，您可选择关闭此功能，任何人将无法通过此处通知到您</P>
</div>
<footer><hr/>
<ul><li><a target="_blank" href="http://www.yunyin.org/">©云印南天YunYin.ORG</a></li><li><a target="_blank" rel="nofollow" href="https://github.com/YunYinORG/">云印团队开源项目</a></li>
<li><a href="mailto:feedback@yunyin.org">反馈或帮助</a></li></ul></footer>
</body>
<script type="text/javascript" src="/static/jquery/2.1.1/jquery.min.js?2"></script>
<script>
function report(status)
{
  set=$$('#set');
  data={'id':set.data('id'),'status':status,'token':set.data('token'),'status':status};
  $$.post('/record/report',data,function(result)
  {
    if(result.status)
    {
      displayMsg(result.message)
      $$('#set').remove();
      // window.setTimeout(function(){location.href='/record/'},3000);
    }else{
      displayMsg(result.message)
    }
  })
}
function displayMsg(msg){$$('#err').html(msg).show();window.setTimeout(function(){$$('#err').html(msg).hide(500)},1500);}
$$('#report').click(function(argument) {
  if(confirm("举报后,对方将被列入恶意使用者名单，永久关闭其招领功能。这是恶意骚扰行为？"))
  {
     report(-1);
  }
})
$$('#thank').click(function(){
  if(confirm("确认校园卡被TA捡到？一旦确认信息不可修改"))
  {
    report(1);
  }

})
</script>
</html>