html{overflow-x:hidden;height:100%}
body,html{margin:0;padding:0;width:100%;text-align:center}
body{position:relative;min-height:98%;height: 100%;background-color:#57c3ea;color:#fff}
a{color: inherit;text-decoration: none;}
hr{border:1px double #dedede}
.btn,.err,.input{margin-top:1%;margin-bottom:2%;background-color:transparent;color:#fff;text-align:center;font-size:1.5em;font-family:Lato,Helvetica,Arial,sans-serif;line-height:1.8em}
label{width:8%;color:#eee;font-size:1.1em;line-height:1.8em}
.form{margin:2em auto 1em;width:90%;border:4px dashed #eee;color:#fff}
.input{width:77%;border:0;border-bottom:5px solid #fff}
.input::-moz-placeholder{color:#eee}
.input::-webkit-input-placeholder{color:#eee}
.input:-ms-input-placeholder{color:#eee}
.btn:active,.btn:hover,.input:focus{border:5px double #fff;background:#fefefe;color:#57c3ea;font-weight:bolder}
.input:active,.input:hover{border-bottom:5px dotted;font-weight:bolder}
.btn{padding:2px;width:80%;border:5px double #fff;color:#fff;cursor:pointer}
.info{display:flex;margin:auto;text-align:center;-webkit-flex-flow:row wrap}
.info .intro{display:inline-block;margin:auto;width:42%;height:95%;border:1px double #dedede;text-align:left}
.intro:first-of-type{margin-left:5%}
.intro:last-of-type{margin-right:5%}
h3{text-align:center}
li{list-style:none;font-size:1.2em}
.how{margin:auto;width:90%;height:150px;max-height:150px;border:dotted #ddd}
.how,.step{text-align:center}
.step{display:inline-block;width:150px;height:100%;border-radius:50%;background:#eee;vertical-align:middle;font-size:1.1em}
.step,h3>a{color:#57c3ea}
h3>a{text-decoration:none}
.to{display:inline-block;width:0;height:0;border-top:40px solid transparent;border-bottom:40px solid transparent;border-left:60px solid #eee;vertical-align:middle;font-size:0;line-height:0}
footer li{display:inline;padding:10px;color:#ddd}
footer li a{color:#ddd;text-decoration:none;display: inline-block;}
.err{position:absolute;margin:auto;padding:0;width:90%;background-color:#cf00f3;font-size:1.2em}
.modal{position:absolute;width: 100%;;min-height:100%; z-index:9000;background-color:rgba(0,0,0,.5);transition:opacity .3s ease}
.modal .content{margin:auto;margin-top:45px;padding:5% 5% 10% 5%;width:80%;border-radius:5px;background-color:#eee;color:#5de;font-size:1.1em}
/*.modal .btn{width:45%;border:5px double #eee;background-color:#5de;color:#FFF;border-radius: 3%;margin: 1% auto 1% auto;}*/
.modal .input{border:3px solid #5de;color:#5de;line-height: 1.8em;margin: 1% auto 1% auto;}
.modal .input::-moz-placeholder{color:gray}
.modal .input::-webkit-input-placeholder{color:gray}
.modal .input:-ms-input-placeholder{color:gray}
.modal .input:hover,.modal .input:active,.modal .input:focus{
	color: #FFF;background: #1abc9c;border: 3px solid #eee;}
.code{background:transparent!important;color: #5de!important;line-height: 1.8em;font-size: 1.5em;border-radius: 3px; width: auto !important;min-width: 30%;max-width: 80%;}
.code:hover,.code:active,.code:focus{background:#1abc9c !important;color:#FFF !important; font-weight: inherit;border: 3px double #eee !important;}
.auto{cursor: pointer;line-height: 1.8em;font-size: 1.5em; border:5px double #eee;background-color:#5ef;color:#FFF !important;border-radius: 3%;margin: 1% auto 1% auto;clear: both; width: auto !important;min-width: 30%;max-width: 80%}
.close{margin-top: -3%;float: right;height: 1.2em;width: 1.2em;border: 3px solid;text-align: center;vertical-align: middle;border-radius: 50%;cursor: pointer;}
#err-modal{display: none; color: #EEE;position: fixed;top: 6%;font-size: 2em;font-weight: bolder;
    padding: 3px; left: 10%;right: 10%;width: 80%;text-align: center;z-index: 10000;background: red;border-radius: 5px;border:3px solid transparent;}
@media(max-width:980px){.how{margin:auto;border:dotted #ddd}
.how,.step{height:130px}
.step{width:130px;max-width:180px;font-size:1.1em}
.to{border-top:20px solid transparent;border-bottom:20px solid transparent;border-left:24px solid #eee}
}
@media(max-width:729px){h3{margin-bottom:3px}
.how{margin:auto;border:dotted #ddd}
.how,.step{height:110px}
.step{width:110px;font-size:1em}
.to{border-top:10px solid transparent;border-bottom:10px solid transparent;border-left:15px solid #eee}
.info .intro{margin:auto;width:90%}
.intro:first-of-type,.intro:last-of-type{margin-right:auto!important;margin-left:auto!important}
}
@media(max-width:599px){h3{margin:5px}
.how{margin:auto;max-height:750pt;border:none}
.how,.step{display:inherit;height:auto}
.step{margin:1px auto;padding:1px;width:60%;max-width:80%}
.to,label{display:none;}
.auto{font-size:2.0em;line-height: 2.2em;margin: 1em auto 1em auto;}
.input{font-size:2.0em;line-height: 2.2em;}
}
@media(max-width:419px){
.step{margin:1px auto;padding:1px;width:80%;max-width:90%}
.auto{font-size: 1.01em;}
}
@media(min-width: 1300px){
.modal .content{margin-top:3%;padding:5%}
.form{width:65%;margin: 0 5% 5% 2%;min-height: 450px;clear: right;float:right;position: relative;}
.how{width:15%;margin: 0 2% 5% 5%;min-height: 450px;clear: left;float: left;}
.err{width: 100%;}
.step h3{margin-top:2px;} 
.step p{font-size: 1.2em;}
.step{width:200px;height: 100px;margin:0 auto 0 auto;padding: 0;clear: both; display: block;}
.to{margin:2px auto 0 auto; border-top: 12px solid;border-left: 10px solid transparent;border-right: 10px solid transparent;border-bottom:none;clear: both;display: block;}
.input,.btn,.auto{font-size: 1.8em;line-height: 2.0em;margin:2% auto 2% auto;}
label{font-size: 1.5em;line-height: 1.8em;}
.btn{margin:4% auto 1% auto}
.info{clear: both;}
}