<!DOCTYPE html>
<html lang="zh-CN">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  	<title>云印招卡中心</title>
  	<link rel="stylesheet" type="text/css" href="/static/bootstrap/3.3.2/css/bootstrap.min.css">
<style type="text/css">
#obj{color:blue;overflow:hidden;width:450px;position:absolute;top:32%;left:12%;height:200px;}

</style>
</head>
<body>
	<div style="border:1px solid blue;height:200px;margin-bottom:20px">	
		<form class="form-inline" method="post" action="/notify">
		  	<div class="form-group">
		    	<input type="text" class="form-control" name="number" placeholder="失主学号">
		  	</div>
		  	<div class="form-group">
		    	<input type="text" class="form-control" name="name" placeholder="失主姓名">
		  	</div>
		  	<button type="submit" class="btn btn-primary">通知失主</button>
		</form>		
	</div>
	<div class="container">
		<div class="row">
			<div class="col-md-6">
				如果你拾到了同学的校园卡（学号相关证件）,在此输入TA的卡号（学号）和TA的姓名;
				系统会把你的联系方式（绑定的手机号和绑定的邮箱）和丢失信息通知到TA的手机和邮箱（如果有的话）,TA将可以联系到你;
				为了防止恶意使用,每个人的使用次数有限制;如果收到骚扰举报将永久封禁此功能
			</div>
			<!-- <div class="col-md-6" style="position:relative">
				<img src="/static/images/info.jpg" class="img-responsive"/>
				<div class="seamless" id="obj">
					<p>138****1235捡到了139****7890的一卡通<span class="pull-right">[2015.11.01]</span></p>
					<p>138****1235捡到了139****7890的一卡通<span class="pull-right">[2015.11.01]</span></p>
					<p>138****1235捡到了139****7890的一卡通<span class="pull-right">[2015.11.01]</span></p>
					<p>138****1235捡到了139****7890的一卡通<span class="pull-right">[2015.11.01]</span></p>
					<p>138****1235捡到了139****7890的一卡通<span class="pull-right">[2015.11.01]</span></p>
					<p>138****1235捡到了139****7890的一卡通<span class="pull-right">[2015.11.01]</span></p>
					<p>138****1235捡到了139****7890的一卡通<span class="pull-right">[2015.11.01]</span></p>
					<p>138****1235捡到了139****7890的一卡通<span class="pull-right">[2015.11.01]</span></p>
					<p>138****1235捡到了139****7890的一卡通<span class="pull-right">[2015.11.01]</span></p>
					<p>138****1235捡到了139****7890的一卡通<span class="pull-right">[2015.11.01]</span></p>
				</div> 
			</div>-->
		</div>
		<div class="row col-md-12">
		</div>	
	</div>
</body>
</html>
<script type="text/javascript" src="/static/jquery/2.1.1/jquery.min.js"></script>
<script type="text/javascript" src="/static/bootstrap/3.3.2/js/bootstrap.min.js"></script>
<script type="text/javascript">
(function(c){
	var o = document.getElementById('obj');
	var ch = o.clientHeight;
	var sh = o.scrollHeight;
	o.s = 0;
	if(sh <= ch){
		return false;
	}
	var delay = 50;
	o.onmouseover = function(){this.Stop = true;}
	o.onmouseout = function(){this.Stop = false;}
	giveInterval(autoRun,delay,o);
	o.innerHTML = o.innerHTML + o.innerHTML;
	function giveInterval(funcName,time){var args=[];for(var i = 2;i < arguments.length;i ++){args.push(arguments[i]);}return window.setInterval(function(){funcName.apply(this,args);},time);}
	function autoRun(o,s){
		if(o.Stop){return false;}
		var st = o.scrollTop;
		var sh = o.scrollHeight;
		o.s ++;
		o.scrollTop = o.s;
		if(st >= sh/2){
			o.scrollTop = 0;
			o.s = 0;
		}
	}
})('seamless')
</script>