$def with (name)
<!DOCTYPE html>
<html lang="zh-CN">
<head>
	<meta charset="UTF-8">
  	<title>云印南天—招领服务</title>
  	<meta name="viewport" content="initial-scale=1,maximum-scale=1,user-scalable=no"/>
  	<link rel="stylesheet" type="text/css" href="/static/css/card.css?2">
</head>
<body>
<div id="main">
<h1>校园卡招领</h1>
<h2>南开大学天津大学校园卡招领</h2>
<div class="how">
<div class="step first">
$if name:
	<h3>1.登录</h3><p>$name 已经登录</p>
$else:
	<a href="#login-modal" class="login"><h3>1.登录</h3><p>使用云印校园账号或手机号</p></a>
</div>
	<div class="to"></div>
	
	<div class="step second">
	<a href="#verify">
		<h3>2.验证</h3>
		<p>验证失主信息(学号+姓名)</p>
	</a>
	</div>
	<div class="to"></div>
	<div class="step third">
		<h3>3.系统通知</h3>
		<p>系统发送通知告知失主</p>
	</div>
	<div class="to"></div>
	<div class="step last">
		<h3>4.失主确认</h3>
		<p>等待失主联系您和确认</p>
	</div>	
</div>
		<div id="verify" class="form">
		<div id="err" class="err"></div>
		<h3>填写失主信息立即通知</h3>
		<div class="card">
			<label>卡号</label><input type="text" id="card" class="input" placeholder="失主学号" autocomplete="off"/>	
		</div>
		<div class="name">
			<label>姓名</label><input type="text" id="name" class="input" placeholder="失主姓名" autocomplete="off"/>
		</div>
			<button id="submit" type="submit" class="btn">通知失主</button>
		</div>
	<div class="info">
		<div class="intro">
			<h3>服务简介</h3>
			<ul>
			<li>平台目的：<strong>第一时间</strong>通知到失主</li>
			<li>通知方式：系统短信，系统邮件</li>
			<li>辅助方式：微博广播,校内私信（暂支持南开）</li>
			<li>支持内容：校园卡，学生证等学号姓名关联内容</li>
			<p>PS：若失主绑定了云印账号会立即通知失主，否则采用辅助方式。<br/>
			为保护隐私保护，所有通知由系统发送，<strong>不可查看</strong>失主信息</p>
			</ul>
		</div>
		<div class="intro">
			<h3>防滥用和骚扰</h3>
			<ul>
			<li>信息统计：系统会统计招领信息并以此进行保护限制</li>
			<li>使用限制：云印用户限制3次，临时用户限制1次</li>
			<li>骚扰防止：失主最多收到三次通知</li>
			<li>失主举报：一旦举报，使用者将永久封禁此功能</li>
			<li>失主确认：失主确认后，您将收到感谢，并解除限制</li>
			<p>PS：限制次数指可以发送招领通知的次数</p>
			</ul>
		</div>
	</div>
<footer><hr/>
<ul><li><a target="_blank" href="http://www.yunyin.org/">©云印南天</a></li><li><a target="_blank" rel="nofollow" href="https://github.com/YunYinORG/">开源项目</a></li><li><a>贡献者:梁崇军|NewFuture|江源</a></li> <li><a target="_blank" href="http://bbs.nankai.edu.cn">合作:NKBBS</a></li></ul></footer>
</div>
<div id="login-modal" class="modal" style="display:none">
<div class="content"><div class="close">×</div>
	<h2>无法获取您的信息,请登录后以继续</h2>
<p>无需注册，直接使用。<br/>如果您是南开或者天大的同学,请用云印校园账号登录,如果<strong>不是学生</strong>使用手机号登录</p>
<p>登录后回到本页面即可继续！</p>
<div>
	<a href="http://api.yunyin.org" target="_blank"><button class="auto">校园账号登录【推荐】</button></a>
	<button id="opne_phone_login" class="auto">临时登录【用手机号】</button>
</div>
</div>
</div>

<div id="phone-modal" class="modal" style="display:none">
<div class="content"><div class="close">×</div>
	<h2>验证您的手机以继续</h2>
	<p id="phone-msg">非学生可使用手机号作为临时账号，为了防止滥用和骚扰，只允许发送一次信息(直到确认找回)</p>
	<p>之后失主可以通过此手机联系您！</p>
	<div>
	<input type="text" class="input" id="phone" name="phone" placeholder="您的手机"/>
	<input style="display: none" type="text" class="input" id="user" name="name" placeholder="您的姓名">
	<button class="auto" id="submit-phone">发送验证码</button>
	</div>
	<div id="sms-code" style="display:none">
	<input type="text" class="input code" id="code" name="code" placeholder="验证码" autocomplete="off">
	<button class="auto" id="submit-code">验证</button>
	</div>
</div>
</div>

<div id="msg-modal" class="modal" style="display:none">
<div class="content"><div class="close">×</div>
	<h2>不能直接发送短信</h2>
	<p></p>
	<div>
	<textarea></textarea>
	<button class="auto" id="submit-phone">验证</button>
	</div>
</div>
</div>

<div id='err-modal'>错误提示</div>
</body>
<script type="text/javascript" src="/static/jquery/2.1.1/jquery.min.js?2"></script>
<script src="/static/js/card.js" defer="defer"></script>
</html>