$def with (content)
<!DOCTYPE html>
<html lang="zh-CN">
<head>
	<meta charset="UTF-8">
  	<title>云印南开—招领服务</title>
  	<meta name="viewport" content="initial-scale=1,maximum-scale=1,user-scalable=no"/>
  	<link rel="stylesheet" type="text/css" href="/static/css/card.css">
  	<style type="text/css">
  	#verify{
  		width: 85%;
  		margin:20px auto 30px auto;
  		    border: 4px dashed #eee;
  		    padding: 10px;
  	}
  	#err{width: 100%;}
  	a{text-decoration: underline;cursor: po}
  	</style>
</head>
<body>
<div>
<h1>南开大学一卡通招领</h1>
$:content
<footer>
	<p>这是一个<a href="https://github.com/YunYinORG/find">开源项目</a>,您可查看修改我们的源码，更欢迎提出您的建议~</p><hr/>
	<ul><li><a target="_blank" href="http://www.yunyin.org/">©云印南天</a></li>|<li><a target="_blank" rel="nofollow" href="https://github.com/YunYinORG/">BY 云印南开团队</a></li>|<li><a target="_blank">合作:NanKaiUni</a></li></ul></footer>
</div>
</body>
</html>