<div id="verify">
	<h2><a href="http://api.yunyin.org?redirect=" onclick="this.href+=window.location">若您是南开大学的<strong>学生</strong>请点此登录</a></h2>
	<h2><a href="/">若不是请前往首页通过手机号登录</a></h2>
</div>
<div class="info">
	<div class="intro">
		<h3>服务简介</h3>
		<ul>
			<li>
				平台目的： <strong>第一时间</strong>
				通知到失主
			</li>
			<li>通知方式：系统短信，系统邮件</li>
			<li>辅助方式：微博广播,校内私信（测试中）</li>
			<li>支持内容：校园卡等学号姓名关联的物品</li>
			<p>
				PS：若失主绑定了云印账号会立即通知失主，否则采用辅助方式。<br/>
				为保护隐私保护，所有通知由系统发送，<strong>不可查看</strong>
				失主信息
			</p>
		</ul>
	</div>
	<div class="intro">
		<h3>防滥用和骚扰</h3>
		<ul>
			<li>信息统计：系统会统计招领信息并以此进行保护限制</li>
			<li>使用限制：云印用户限制3次，临时用户限制1次</li>
			<li>骚扰防止：失主最多收到三次通知</li>
			<li>失主举报：一旦举报，使用者将永久封禁此功能</li>
			<li>失主确认：失主确认后，解除上面限制</li>
			<p>PS：限制次数指可以发送招领通知的次数</p>
		</ul>
	</div>
</div>